/* Contenedor general */
.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  justify-content: center;
  background-color: white;
  
}

.grid-container {
  justify-content: space-between; 
  background-color: #8396ff;
  padding: 10px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(2, 170px); 
  grid-template-rows: repeat(3, 130px); 
  gap: 20px; 
  justify-content: flex-start; 

}
.grid-item {
  display: flex;
  border: 4px solid black;
  width: 120px;
  height: 100px;

}

.red {
  background-color: #e57373; 
  width: 160px;
}

.orange {
  background-color: #f4a261; 
  
} Organización específica de los cuadros */
.grid-item:nth-child(1) { grid-column: 1; grid-row: 1; } /* Rojo */
.grid-item:nth-child(2) { grid-column: 2; grid-row: 1; } /* Naranja */
.grid-item:nth-child(3) { grid-column: 1; grid-row: 2; } /* Naranja */
.grid-item:nth-child(4) { grid-column: 2; grid-row: 2; } /* Rojo */
.grid-item:nth-child(5) { grid-column: 1; grid-row: 3; } /* Rojo */
.grid-item:nth-child(6) { grid-column: 2; grid-row: 3; } /* Naranja */
